@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;

  --color-midnight: #020617;
  --color-polaris: #3B82F6;
  --color-stark: #FFFFFF;
}

@layer base {
  body {
    @apply font-sans bg-stark text-midnight antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}
